<!DOCTYPE html>
<html>      
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Home - Adorned</title>
  </head>

  <body>

      <ul class="nav nav-pills mb-1 py-2 justify-content-center bg-light" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-upload" role="tab" aria-controls="pills-upload" aria-selected="false">Upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="pills-contact-tab" data-toggle="pill" href="#pills-choose" role="tab" aria-controls="pills-choose" aria-selected="true">Choose</a>
        </li>
      </ul>

                      

    <div class="tab-content" id="pills-tabContent">
      <div class="justify-content-center tab-pane fade" id="pills-upload" role="tabpanel" aria-labelledby="pills-upload-tab">
        <div class="card card-body justify-content-center">
          
          
          <div class="btn-group justify-content-center">
            <button type="button" class="btn btn-primary mr-2" data-wc="w" onclick="switchTemp('w')">Warm</button>
            <button type="button" class="btn btn-primary" data-wc="c" onclick="switchTemp('c')">Cold</button>
          </div>


          <div class="card divcold text-center">
            <div class="card-body">
              <div class="btn-group1" >
                <button type="button" class="btn btn-primary" data-fileShow="w" onclick="shirtPantsShoes('st')">Shirt</button>
                <button type="button" class="btn btn-primary" data-fileShow="w" onclick="shirtPantsShoes('p')">Pants</button>
                <button type="button" class="btn btn-primary" data-fileShow="w" onclick="shirtPantsShoes('ss')">Shoes</button>
              </div>
            </div>
          </div> 

          <!-- Uploading files section -->
          <div class="container">
            <h1>File Upload</h1>
            <%= typeof data.msg != 'undefined' ? data.msg : '' %>
            <form action="/upload" method="POST" enctype="multipart/form-data">
              <!-- <%= typeof data != 'undefined' ? data.username : ''%> -->
              
              <input type="hidden" name="username" id="username" value="<%= typeof data != 'undefined' ? data.username : '' %>" />
              <input type="hidden" name="token" id="token" value="<%= typeof data != 'undefined' ? data.token : '' %>" />
              
              
              <input id="temperature" type="text" name="temperature" value="" />
              <input id="item" type="text" name="item" value="" />
              <div class="file-field input-field">
                <div class="btn grey">
                  <span>File</span>
                  <input name="myImage" type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
              <button type="submit" class="btn bg-primary" onchange="getValueSubmitFile()" id="submitFile">Submit</button>
            </form>
            <br>
            <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
          </div>

        </div>
      </div>


      <div class="tab-pane fade show active" id="pills-choose" role="tabpanel" aria-labelledby="pills-choose-tab">

        <img class="rounded mx-auto d-block img-thumbnail" id="myImage" onclick="changePic('one')" src="/images/shirtStart.png" width="33.3%" height="50%">

        <img class="rounded mx-auto d-block img-thumbnail" id="myImage2"onclick="changePic('two')" src="/images/pantsStart.png" width="33.3%" height="33%">
        
        <img class="rounded mx-auto d-block img-thumbnail" id="myImage3"onclick="changePic('three')" src="/images/shoesStart.png" width="33.3%" height="50%">
        
      </div> 

    </div>
    



    <!-- Bootstrap scripts and my script file. -->
    <script src="../js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
  </body>

</html>